<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/cddaf0c0ff.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,700;8..144,900&family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/solicitacoes.css" />
    <title>SOLICITAÇÕES | Pref. de Salto</title>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <%- include('../../layout/header') %>
      <div class="row mb-3">
        <div class="col-lg-2 col-sm-0" id="menu-col">
          <%- include('../../layout/navbar') %>
        </div>
        <div
          class="col-lg-10 d-flex align-items-center justify-content-center p-3 flex-column align-content-start"
          id="content"
        >
          <% if (user.level === 3) { %>
          <marquee
            direction="right"
            class="p-1 d-flex align-items-center justify-content-start mb-3 w-100"
          >
            <% for( let sec = 0; sec < secData.length; sec++ ) { %> <% if
            (secData[sec].totalHoras > 0) { %>
            <div
              class="w-fit d-flex align-items-center justify-content-center flex-row border p-2 rounded"
            >
              <p class="me-2">
                <strong style="color: #8a40b4"
                  ><%= secData[sec].secretaria %></strong
                >,
              </p>
              <p>
                <strong>TOTAL HORAS:</strong> <%= secData[sec].totalHoras %>.
              </p>
            </div>
            <% } %> <% } %>
          </marquee>
          <% } %> <% if(user.level === 1 || user.level === 2){ %> <% for( let i
          = 0; i < data.length; i++ ) { %>
          <div
            class="mx-auto p-3 d-flex align-items-center justify-content-center flex-column border mb-2 mh-25 wrapper-horas"
          >
            <div
              class="w-100 mb-2 d-flex align-items-center justify-content-between wrapper-header"
            >
              <div class="header-text text-dark fw-bold">
                <%= data[i].nome %>
              </div>
              <div class="wrapper-button" data-open="<%= data[i].nome %>">
                <i class="bi bi-arrow-down-square-fill"></i>
              </div>
            </div>
            <div
              class="table-responsive w-100 d-none"
              data-for="<%= data[i].nome %>"
            >
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">MATRICULA</th>
                    <th scope="col">NOME</th>
                    <th scope="col">DATA</th>
                    <th scope="col">ENTRADA/SAÍDA</th>
                    <th scope="col">HORA</th>
                    <th scope="col">JUSTIFICATIVA</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">ANEXO</th>
                    <th scope="col">AÇÃO</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let h = 0; h < data[i].Horas.length; h++ ) { %>
                  <tr>
                    <th scope="row" data-id="<%= data[i].Horas[h].id %>">
                      <%= data[i].Horas[h].id %>
                    </th>
                    <td><%= data[i].matricula %></td>
                    <td><%= data[i].nome %></td>
                    <td>
                      <%= new
                      Date(data[i].Horas[h].diaSolicitado).toLocaleDateString('pt-BR')
                      %>
                    </td>
                    <td>
                      <%= data[i].Horas[h].horarioEntrada %>h / <%=
                      data[i].Horas[h].horarioSaida %>h
                    </td>
                    <td><%= data[i].Horas[h].totalDeHorasPedido %> hora(s)</td>
                    <td class="text-wrap text-break">
                      <%= data[i].Horas[h].justificativa %>
                    </td>
                    <td>
                      <%= `${data[i].Horas[h].status === 1 ||
                      data[i].Horas[h].status === 2 || data[i].Horas[h].status
                      === 3 ? 'PENDENTE' : data[i].Horas[h].status === 0 ?
                      'NEGADO' : `<strong style='color:blue'>APROVADO</strong>`}` %>
                    </td>
                    <td>
                      <% if (data[i].Horas[h].anexoPedido) { %>

                      <a
                        href="/sistemas/horas-extras/hora/attachment/<%= data[i].Horas[h].id %>"
                        target="_blank"
                        rel="noopener noreferrer"
                        role="button"
                        class="btn btn-link"
                        >VISUALIZAR</a
                      >

                      <% } %>
                    </td>
                    <td>
                      <div>
                        <button
                          class="btn btn-success me-1 aprov mb-1"
                          data-aprov="<%= data[i].Horas[h].id %>"
                        >
                          APROVAR
                        </button>
                        <button
                          class="btn btn-danger reprov"
                          data-reprov="<%= data[i].Horas[h].id %>"
                        >
                          REPROVAR
                        </button>
                      </div>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div
                class="w-100 d-flex align-items-center justify-content-center"
              >
                <button class="btn btn-success me-1 aprov-all">
                  APROVAR TODOS
                </button>
                <button class="btn btn-danger reprov-all">
                  REPROVAR TODOS
                </button>
              </div>
            </div>
          </div>
          <% } %> <% } %> <% if (user.level === 0 && typeof data !== undefined
          && data !== null) { %>
          <div
            class="mx-auto p-3 d-flex align-items-center justify-content-center flex-column border mb-2 mh-25 wrapper-horas"
          >
            <div
              class="w-100 mb-2 d-flex align-items-center justify-content-between wrapper-header"
            >
              <div class="header-text text-dark fw-bold"><%= data.nome %></div>
              <div class="d-flex align-items-center justify-content-evenly">
                <div class="text-dark fw-bold me-4">
                  TOTAL HORAS APROVADAS MÊS:
                  <strong style="color: #8a40b4"
                    ><%= data.totalDeHorasMes %></strong
                  >
                </div>
                <div
                  class="wrapper-button d-flex justify-content-center align-content-center"
                  data-open="<%= data.nome %>"
                >
                <i class="bi bi-arrow-down-square-fill"></i>
              </div>
            </div>
            </div>
            <div
              class="table-responsive w-100 d-none"
              data-for="<%= data.nome %>"
            >
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">MATRÍCULA</th>
                    <th scope="col">NOME</th>
                    <th scope="col">DATA</th>
                    <th scope="col">ENTRADA/SAÍDA</th>
                    <th scope="col">HORA</th>
                    <th scope="col">JUSTIFICATIVA</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">ANEXO</th>
                    <th scope="col">AÇÃO</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (data !== null || data !== undefined) { %> <% for( let h
                  = 0; h < data.Horas.length; h++ ) { %>
                  <tr>
                    <th scope="row" data-id="<%= data.Horas[h].id %>">
                      <%= data.Horas[h].id %>
                    </th>
                    <td><%= data.matricula %></td>
                    <td><%= data.nome %></td>
                    <td>
                      <%= new
                      Date(data.Horas[h].diaSolicitado).toLocaleDateString('pt-BR') %>
                    </td>
                    <td>
                      <%= data.Horas[h].horarioEntrada %>h / <%=
                      data.Horas[h].horarioSaida %>h
                    </td>
                    <td><%= data.Horas[h].totalDeHorasPedido %> hora(s)</td>
                    <td class="text-wrap text-break">
                      <%= data.Horas[h].justificativa %>
                    </td>
                    <td>
                      <%= `${data.Horas[h].status === 1 || data.Horas[h].status
                      === 2 || data.Horas[h].status === 3 ? 'PENDENTE' :
                      data.Horas[h].status === 0 ? 'NEGADO' : 'APROVADO'}` %>
                    </td>
                    <td>
                      <% if (data.Horas[h].anexoPedido) { %>

                      <a
                        href="/sistemas/horas-extras/hora/attachment/<%= data.Horas[h].id %>"
                        target="_blank"
                        rel="noopener noreferrer"
                        role="button"
                        class="btn btn-link"
                        >VISUALIZAR</a
                      >

                      <% } %>
                    </td>
                    <% if (data.Horas[h].status > 0 && data.Horas[h].status < 2)
                    { %>
                    <td>
                      <button
                        class="btn btn-danger fw-bold"
                        id="cancel-request"
                        data-req-id="<%= data.Horas[h].id %>"
                      >
                        CANCELAR
                      </button>
                    </td>
                    <% } %> <% if (data.Horas[h].status > 1 ||
                    data.Horas[h].status === 0) { %>
                    <td>
                      <button class="btn btn-secondary fw-bold" disabled>
                        NÃO PERMITIDA
                      </button>
                    </td>
                    <% } %>
                  </tr>
                  <% } %> <% } %>
                </tbody>
              </table>
              <div class="text-muted fw-bold mb-3">
                Em caso de desistência da solicitação de hora extra, é possível
                efetuar o cancelamento da mesma na coluna AÇÃO desde que não
                tenha sido APROVADA / REPROVADA. Em caso de dúvidas, procure sua
                chefia imediata.
              </div>
            </div>
          </div>
          <% } %> <% if (user.level === 3) { %> <% for( let index = 0; index <
          data.length; index++ ) { %> <% if (data[index].Funcionarios.length) {
          %>
          <div
            class="mx-auto p-3 d-flex align-items-center justify-content-center flex-column border mb-2 mh-25 wrapper-horas"
          >
            <div
              class="w-100 mb-2 d-flex align-items-center justify-content-between wrapper-header"
            >
              <div class="header-text text-dark fw-bold">
                <%= data[index].nomeSubSetor %>
              </div>
              <div
                class="wrapper-button"
                data-open="<%= data[index].nomeSubSetor %>"
              >
                <i class="bi bi-arrow-down-square-fill"></i>
              </div>
            </div>
            <% for( let f = 0; f < data[index].Funcionarios.length; f++ ) { %>
            <div
              class="table-responsive w-100 d-none"
              data-for="<%= data[index].nomeSubSetor %>"
            >
              <div class="fw-bold fs-4 mb-3" style="color: #8a40b4">
                <%= data[index].Funcionarios[f].nome %>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">MATRICULA</th>
                    <th scope="col">NOME</th>
                    <th scope="col">DATA</th>
                    <th scope="col">ENTRADA/SAÍDA</th>
                    <th scope="col">HORA</th>
                    <th scope="col">JUSTIFICATIVA</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">ANEXO</th>
                    <th scope="col">AÇÃO</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let fh = 0; fh <
                  data[index].Funcionarios[f].Horas.length; fh++ ) { %>
                  <tr>
                    <th
                      scope="row"
                      data-id="<%= data[index].Funcionarios[f].Horas[fh].id %>"
                      data-setor="<%= data[index].nomeSubSetor %>"
                    >
                      <%= data[index].Funcionarios[f].Horas[fh].id %>
                    </th>
                    <td><%= data[index].Funcionarios[f].matricula %></td>
                    <td><%= data[index].Funcionarios[f].nome %></td>
                    <td>
                      <%= new
                      Date(data[index].Funcionarios[f].Horas[fh].diaSolicitado).toLocaleDateString('pt-BR')
                      %>
                    </td>
                    <td>
                      <%= data[index].Funcionarios[f].Horas[fh].horarioEntrada
                      %>h / <%=
                      data[index].Funcionarios[f].Horas[fh].horarioSaida %>h
                    </td>
                    <td>
                      <%=
                      data[index].Funcionarios[f].Horas[fh].totalDeHorasPedido
                      %> hora(s)
                    </td>
                    <td class="text-wrap text-break">
                      <%= data[index].Funcionarios[f].Horas[fh].justificativa %>
                    </td>
                    <td>
                      <%= `${data[index].Funcionarios[f].Horas[fh].status === 1
                      || data[index].Funcionarios[f].Horas[fh].status === 2 ||
                      data[index].Funcionarios[f].Horas[fh].status === 3 ?
                      'PENDENTE' : data[index].Funcionarios[f].Horas[fh].status
                      === 0 ? 'NEGADO' : 'APROVADO'}` %>
                    </td>
                    <td>
                      <% if (data[index].Funcionarios[f].Horas[fh].anexoPedido)
                      { %>

                      <a
                        href="/sistemas/horas-extras/hora/attachment/<%= data[index].Funcionarios[f].Horas[fh].id %>"
                        target="_blank"
                        rel="noopener noreferrer"
                        role="button"
                        class="btn btn-link"
                        >VISUALIZAR</a
                      >

                      <% } %>
                    </td>
                    <td>
                      <div>
                        <button
                          class="btn btn-success me-1 aprov mb-1"
                          data-aprov="<%= data[index].Funcionarios[f].Horas[fh].id %>"
                        >
                          APROVAR
                        </button>
                        <button
                          class="btn btn-danger reprov"
                          data-reprov="<%= data[index].Funcionarios[f].Horas[fh].id %>"
                        >
                          REPROVAR
                        </button>
                      </div>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div
                class="w-100 d-flex align-items-center justify-content-center"
              >
                <button
                  class="btn btn-success me-1 aprov-all-3"
                  data-aprov-all-set="<%= data[index].nomeSubSetor %>"
                >
                  APROVAR TODOS
                </button>
                <button
                  class="btn btn-danger reprov-all-3"
                  data-reprov-all-set="<%= data[index].nomeSubSetor %>"
                >
                  REPROVAR TODOS
                </button>
              </div>
            </div>

            <% } %>
          </div>

          <% } %> <% } %> <% } %> <% if (data === undefined || data === null ||
          !data.length && user.level > 0 && user.level !== 3) { %>
          <div
            class="d-flex align-items-center justify-content-center flex-column"
          >
            <div class="relative mt-3 mb-3 w-25">
              <img src="/assets/img/sad.jpg" alt="sad-face" class="img-fluid" />
            </div>
            <div class="text-dark fw-bold fs-1 text-center">
              NENHUMA SOLICITAÇÃO
            </div>
          </div>
          <% } %> <% if (user.level === 3 && !dataLevel3 === true) { %>
          <div
            class="d-flex align-items-center justify-content-center flex-column"
          >
            <div class="relative mt-3 mb-3 w-25">
              <img src="/assets/img/pngegg.png" alt="sad-face" class="img-fluid" />
            </div>
            <div class="text-dark fw-bold fs-1 text-center">
              NENHUMA SOLICITAÇÃO
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/layout.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/solicitacoes.js"></script>
  </body>
</html>
